<html>
    <link rel="stylesheet" href="my_css.css">
<body>
    <h2>Here are all the cars:</h2>
    <% for (var x in cars) { %>
        <h3>Car: <%= cars[x].name %></h3>
        <h4>Picture:</h4>
        <a href=/cars/<%= cars[x].name %>> <img src=<%= cars[x].img_source %>></a>
        
        <hr>
    <% } %>
</body>
</html>