<html>
    <link rel="stylesheet" href="my_css.css">
<body>
    <h2>Extra Details</h2>
    <% for (var x in detail) { %>
        <h3>Detail: <%= detail[x].detail %></h3>
        
        <hr>
    <% } %>
</body>
</html>