<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Results</title>
</head>
<!-- displays all the data information -->
<body>
    <div id="container">
        <h2>Submitted Information</h2>
        <p>Name: <span><%= data.name %></span></p>
        <p>Dojo Location: <span><%= data.dojoLocation %></span></p>
        <p>Favorite Language: <span><%= data.favoriteLanguage %></span></p>
        <p>Comment: <span><%= data.comment %></span></p>
    </div>
</body>
</html>